<div class="main">
    <div class="title">
            <h4>{{dateString}}</h4>
    </div>
    <div class="body">
        <div>
            <label class="label">
                Reminder:    
            </label>
            <label class="label">City:</label>
            <label class="label">
                Color:
            </label>
            <label class="label">Hour:</label>
        </div>
        <div >
            <input class="input text-input" [formControl]=reminder/>
            <input class="input" [formControl]=city/>
            <input [(colorPicker)]=color.value [style.background-color]=color.value class="input" [formControl]=color/>
            <ngx-timepicker-field [format]="24" [defaultTime]="'00:00'" (timeChanged)=updateTime($event)></ngx-timepicker-field>
        </div>
    </div>
    <div class="footer">
        <div>
            <div class="error-container"><p>{{errorMessage}}</p></div>
            <div>
                <button mat-flat-button class="main-button" (click)=submit()>Add Reminder</button>
            </div>
        </div>
    </div>
</div>