.reminder {
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

.reminder-dialog {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding: 0px;

    .button {
        &.edit {
            background-color: #2196f3;
        }

        &.warn {
            background-color: red;
        }
        margin-top: 5px;
        margin-left: 5px;
        height: 1.5em;
        line-height: 1.5em;
        color: white;
    }

    .reminder-body{
        display: flex;
        justify-content: space-between;
    }

    .reminder-color {
        width: 100%;
        border-radius: 5px;
        height: 20px;
    }

    .reminder-title {
        margin: 15px 0px 0px 20px;
    }

    .reminder-info {
        margin: 0px 20px;
    }
}