<mat-card [class.dayInactive]=inactive class="main">
    <mat-card-content>
       <div class="card-header">
           <p>{{day.day}}</p>
           <button class="btn-primary" (click)=openDialog()>+</button>
       </div>
       <div class="reminder-containter">
            <app-reminder *ngFor="let reminder of day.reminders" [reminder]=reminder style="margin: 0px 5px 5px 5px;"></app-reminder>
       </div> 
    </mat-card-content>
</mat-card>

<ng-template #reminderInputDialog>
    <app-reminder-input [date]=day.date (submitReminder)=addReminder($event)></app-reminder-input>
</ng-template>